.latte :is(h1, h2, h3, h4, h5, h6) a code {
  color: #4c4f69;
}
.latte a code {
  color: #1e66f5;
}
.latte code {
  color: #4c4f69;
  background: #e6e9ef;
}
.latte blockquote blockquote {
  border-top: 0.1em solid #acb0be;
  border-bottom: 0.1em solid #acb0be;
}
.latte hr {
  border-color: #acb0be;
  border-style: solid;
}
.latte del {
  color: #7c7f93;
}
.latte .ace_gutter {
  color: #8c8fa1;
  background: #e6e9ef;
}
.latte .ace_gutter-active-line.ace_gutter-cell {
  color: #ea76cb;
  background: #e6e9ef;
}
.latte .tooltiptext {
  background: #e6e9ef;
  color: #4c4f69;
}

.frappe :is(h1, h2, h3, h4, h5, h6) a code {
  color: #c6d0f5;
}
.frappe a code {
  color: #8caaee;
}
.frappe code {
  color: #c6d0f5;
  background: #292c3c;
}
.frappe blockquote blockquote {
  border-top: 0.1em solid #626880;
  border-bottom: 0.1em solid #626880;
}
.frappe hr {
  border-color: #626880;
  border-style: solid;
}
.frappe del {
  color: #949cbb;
}
.frappe .ace_gutter {
  color: #838ba7;
  background: #292c3c;
}
.frappe .ace_gutter-active-line.ace_gutter-cell {
  color: #f4b8e4;
  background: #292c3c;
}
.frappe .tooltiptext {
  background: #292c3c;
  color: #c6d0f5;
}

.macchiato :is(h1, h2, h3, h4, h5, h6) a code {
  color: #cad3f5;
}
.macchiato a code {
  color: #8aadf4;
}
.macchiato code {
  color: #cad3f5;
  background: #1e2030;
}
.macchiato blockquote blockquote {
  border-top: 0.1em solid #5b6078;
  border-bottom: 0.1em solid #5b6078;
}
.macchiato hr {
  border-color: #5b6078;
  border-style: solid;
}
.macchiato del {
  color: #939ab7;
}
.macchiato .ace_gutter {
  color: #8087a2;
  background: #1e2030;
}
.macchiato .ace_gutter-active-line.ace_gutter-cell {
  color: #f5bde6;
  background: #1e2030;
}
.macchiato .tooltiptext {
  background: #1e2030;
  color: #cad3f5;
}

.mocha :is(h1, h2, h3, h4, h5, h6) a code {
  color: #cdd6f4;
}
.mocha a code {
  color: #89b4fa;
}
.mocha code {
  color: #cdd6f4;
  background: #181825;
}
.mocha blockquote blockquote {
  border-top: 0.1em solid #585b70;
  border-bottom: 0.1em solid #585b70;
}
.mocha hr {
  border-color: #585b70;
  border-style: solid;
}
.mocha del {
  color: #9399b2;
}
.mocha .ace_gutter {
  color: #7f849c;
  background: #181825;
}
.mocha .ace_gutter-active-line.ace_gutter-cell {
  color: #f5c2e7;
  background: #181825;
}
.mocha .tooltiptext {
  background: #181825;
  color: #cdd6f4;
}

.latte {
  --bg: #eff1f5;
  --fg: #4c4f69;
  --sidebar-bg: #e6e9ef;
  --sidebar-fg: #4c4f69;
  --sidebar-non-existant: #9ca0b0;
  --sidebar-active: #1e66f5;
  --sidebar-spacer: #9ca0b0;
  --scrollbar: #9ca0b0;
  --icons: #9ca0b0;
  --icons-hover: #7c7f93;
  --links: #1e66f5;
  --inline-code-color: #4c4f69;
  --theme-popup-bg: #e6e9ef;
  --theme-popup-border: #9ca0b0;
  --theme-hover: #ccd0da;
  --quote-bg: #e6e9ef;
  --quote-border: #dce0e8;
  --table-border-color: #ccd0da;
  --table-header-bg: #e6e9ef;
  --table-alternate-bg: #e6e9ef;
  --searchbar-border-color: #ccd0da;
  --searchbar-bg: #e6e9ef;
  --searchbar-fg: #4c4f69;
  --searchbar-shadow-color: #dce0e8;
  --searchresults-header-fg: #4c4f69;
  --searchresults-border-color: #ccd0da;
  --searchresults-li-bg: #eff1f5;
  --sidebar-header-border-color: #7287fd;
  --search-mark-bg: #fe640b;
  --warning-border: #fe640b;
  --color-scheme: light;
  --copy-button-filter: brightness(0) saturate(100%) invert(47%) sepia(6%) saturate(1263%) hue-rotate(195deg) brightness(90%) contrast(81%);
  --copy-button-filter-hover: brightness(0) saturate(100%) invert(30%) sepia(80%) saturate(1850%) hue-rotate(209deg) brightness(94%) contrast(105%);
  --blockquote-note-color: #1e66f5;
  --blockquote-tip-color: #40a02b;
  --blockquote-important-color: #8839ef;
  --blockquote-warning-color: #df8e1d;
  --blockquote-caution-color: #d20f39;
}

.frappe {
  --bg: #303446;
  --fg: #c6d0f5;
  --sidebar-bg: #292c3c;
  --sidebar-fg: #c6d0f5;
  --sidebar-non-existant: #737994;
  --sidebar-active: #8caaee;
  --sidebar-spacer: #737994;
  --scrollbar: #737994;
  --icons: #737994;
  --icons-hover: #949cbb;
  --links: #8caaee;
  --inline-code-color: #c6d0f5;
  --theme-popup-bg: #292c3c;
  --theme-popup-border: #737994;
  --theme-hover: #414559;
  --quote-bg: #292c3c;
  --quote-border: #232634;
  --table-border-color: #414559;
  --table-header-bg: #292c3c;
  --table-alternate-bg: #292c3c;
  --searchbar-border-color: #414559;
  --searchbar-bg: #292c3c;
  --searchbar-fg: #c6d0f5;
  --searchbar-shadow-color: #232634;
  --searchresults-header-fg: #c6d0f5;
  --searchresults-border-color: #414559;
  --searchresults-li-bg: #303446;
  --sidebar-header-border-color: #babbf1;
  --search-mark-bg: #ef9f76;
  --warning-border: #ef9f76;
  --color-scheme: dark;
  --copy-button-filter: brightness(0) saturate(100%) invert(82%) sepia(6%) saturate(1287%) hue-rotate(192deg) brightness(86%) contrast(85%);
  --copy-button-filter-hover: brightness(0) saturate(100%) invert(68%) sepia(16%) saturate(1070%) hue-rotate(185deg) brightness(96%) contrast(95%);
  --blockquote-note-color: #8caaee;
  --blockquote-tip-color: #a6d189;
  --blockquote-important-color: #ca9ee6;
  --blockquote-warning-color: #e5c890;
  --blockquote-caution-color: #e78284;
}

.macchiato {
  --bg: #24273a;
  --fg: #cad3f5;
  --sidebar-bg: #1e2030;
  --sidebar-fg: #cad3f5;
  --sidebar-non-existant: #6e738d;
  --sidebar-active: #8aadf4;
  --sidebar-spacer: #6e738d;
  --scrollbar: #6e738d;
  --icons: #6e738d;
  --icons-hover: #939ab7;
  --links: #8aadf4;
  --inline-code-color: #cad3f5;
  --theme-popup-bg: #1e2030;
  --theme-popup-border: #6e738d;
  --theme-hover: #363a4f;
  --quote-bg: #1e2030;
  --quote-border: #181926;
  --table-border-color: #363a4f;
  --table-header-bg: #1e2030;
  --table-alternate-bg: #1e2030;
  --searchbar-border-color: #363a4f;
  --searchbar-bg: #1e2030;
  --searchbar-fg: #cad3f5;
  --searchbar-shadow-color: #181926;
  --searchresults-header-fg: #cad3f5;
  --searchresults-border-color: #363a4f;
  --searchresults-li-bg: #24273a;
  --sidebar-header-border-color: #b7bdf8;
  --search-mark-bg: #f5a97f;
  --warning-border: #f5a97f;
  --color-scheme: dark;
  --copy-button-filter: brightness(0) saturate(100%) invert(75%) sepia(18%) saturate(361%) hue-rotate(190deg) brightness(91%) contrast(86%);
  --copy-button-filter-hover: brightness(0) saturate(100%) invert(67%) sepia(17%) saturate(1007%) hue-rotate(183deg) brightness(99%) contrast(94%);
  --blockquote-note-color: #8aadf4;
  --blockquote-tip-color: #a6da95;
  --blockquote-important-color: #c6a0f6;
  --blockquote-warning-color: #eed49f;
  --blockquote-caution-color: #ed8796;
}

.mocha {
  --bg: #1e1e2e;
  --fg: #cdd6f4;
  --sidebar-bg: #181825;
  --sidebar-fg: #cdd6f4;
  --sidebar-non-existant: #6c7086;
  --sidebar-active: #89b4fa;
  --sidebar-spacer: #6c7086;
  --scrollbar: #6c7086;
  --icons: #6c7086;
  --icons-hover: #9399b2;
  --links: #89b4fa;
  --inline-code-color: #cdd6f4;
  --theme-popup-bg: #181825;
  --theme-popup-border: #6c7086;
  --theme-hover: #313244;
  --quote-bg: #181825;
  --quote-border: #11111b;
  --table-border-color: #313244;
  --table-header-bg: #181825;
  --table-alternate-bg: #181825;
  --searchbar-border-color: #313244;
  --searchbar-bg: #181825;
  --searchbar-fg: #cdd6f4;
  --searchbar-shadow-color: #11111b;
  --searchresults-header-fg: #cdd6f4;
  --searchresults-border-color: #313244;
  --searchresults-li-bg: #1e1e2e;
  --sidebar-header-border-color: #b4befe;
  --search-mark-bg: #fab387;
  --warning-border: #fab387;
  --color-scheme: dark;
  --copy-button-filter: brightness(0) saturate(100%) invert(84%) sepia(9%) saturate(767%) hue-rotate(192deg) brightness(84%) contrast(84%);
  --copy-button-filter-hover: brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(951%) hue-rotate(180deg) brightness(98%) contrast(100%);
  --blockquote-note-color: #89b4fa;
  --blockquote-tip-color: #a6e3a1;
  --blockquote-important-color: #cba6f7;
  --blockquote-warning-color: #f9e2af;
  --blockquote-caution-color: #f38ba8;
}
